spring:
  application:
    name: trading-service
  datasource:
    url: jdbc:postgresql://localhost:5432/football
    username: packt
    password: packt

management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    health:
      probes:
        enabled: true
    web:
      exposure:
        include: health,env,metrics,beans,loggers,football
football:
  folder: teams